Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque molestiae commodi, accusamus rerum illo necessitatibus, a tempora voluptatem voluptatum esse autem sequi eos dicta labore iste suscipit voluptatibus. Debitis, animi.
<div position="<%= position %>" data-action="click->multi-steps-form#next" class="btn btn-primary">NEXT</div>