<div data-controller="event" class="min-vh-100 d-flex align-items-center justify-content-center">
    <div class="container text-center">
        <a href="">Appeler l'agence</a>
        <button class="btn btn-primary" data-action="click->event#displayEventForm">Prendre rendez-vous</button>
    </div>
</div>


