---
http_interactions:
- request:
    method: post
    uri: https://x4nw3.api.infobip.com/sms/2/text/single
    body:
      encoding: UTF-8
      string: |-
        {
                "from":"MMA",
                "to":"0756945886",
                "text":"Body of sms  STOP au 36173"
              }
    headers:
      Authorization:
      - Basic VEFTS1BJTE9UMTpvZGszMDkzKmVlaUU=
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"messages":[{"to":"0756945886","status":{"groupId":1,"groupName":"PENDING","id":26,"name":"PENDING_ACCEPTED","description":"Message
        sent to next instance"},"messageId":"30026432554703571195"}]}'
  recorded_at: Wed, 16 Sep 2020 13:52:05 GMT
recorded_with: VCR 6.0.0
